.leaflet-container {
  height: 80vh;
  width: 100%;
  margin: auto;
}

.card {
  padding: 0px;
  margin: 125px 100px 50px;
  width: 90%;
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.1);
}
.card-body {
  padding: 0px;
  border: 0px;
}
