.wrapper {
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.texts {
  margin-left: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.title {
  text-decoration-color: black;
  font-size: 90px;
  font-weight: bold;
  animation-name: title;
}

.link:hover {
  transform: scale(1.2);
  color: #143f37;
}

.link {
  margin-top: 3rem;
  font-size: 50px;
  text-decoration: none;
  color: #143f37;
  text-align: center;
  font-weight: bold;
}

.img-fluid {
  /* dogCat */

  margin-top: 10rem;
  box-sizing: border-box;
  background-blend-mode: overlay;
  mix-blend-mode: difference;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(50, 57, 190, 0.25));
  border-radius: 50px;
}

.img-fluid:hover {
  transform: scale(1.1);
}
